@font-face {
	font-family: lato;
	src: url("../fonts/lato");
}

@font-face {
	font-family: lato;
	font-weight: bold;
	src: url("../fonts/lato-bold");
}

body {
	background-color: #7a2c2c;
	color: #fefefe;
	font-family: lato;
	height: 100vh;
	margin: 0px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#javascript-error {
	font-size: 60px;
	text-align: center;
}

#service-name {
	font-size: 90px;
	font-weight: bold;
	margin-bottom: 50px;
}

#join-invitation {
	font-size: 40px;
	margin-bottom: 30px;
	text-align: center;
}

#start-countdown-info {
	margin-bottom: 80px;
	font-size: 40px;
}

#players-info {
	font-size: 30px;
}

#players-count {
	font-weight: bold;
}

#min-players-info {
	font-size: 30px;
}

#min-players-count {
	font-weight: bold;
}

#question-number {
	font-size: 40px;
	margin-bottom: 30px;
}

#question {
	font-size: 60px;
	font-weight: bold;
	margin-bottom: 30px;
	text-align: center;
}

#question-info {
	font-size: 40px;
	margin-bottom: 40px;
}

.answer {
	background-color: #a65050;
	width: 600px;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
}

#results-header {
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 50px;
}

#results {
	font-size: 24px;
}

.result:nth-child(n+2) {
	border-top: 1px solid white;
}

.result {
	display: flex;
	width: 500px;
}

.result-pseudo {
	padding: 10px;
	background: #551d1d;
	flex: 1;
}

.result-score {
	padding: 10px;
	background: #351212;
}

#qr {
	margin: 30px;
	width: 40vh;
	height: 40vh;
}

#url {
	color: #fff;
	text-decoration: none;
}


/* jeu de space */

.starship:nth-child(3n){
	filter: hue-rotate(0deg);
}
.starship:nth-child(3n+1){
	filter: hue-rotate(100deg);
}
.starship:nth-child(3n+2){
	filter: hue-rotate(200deg);
}

#game {
	margin-top: 5%;
	background-image: url(screen/moon.svg), url(screen/stars1.svg), url(screen/stars2.svg), url(screen/background.svg);
	background-position: 0px 0px;
	animation: speed 30s linear infinite;
	position: relative;
}

.starship {
	position: absolute;
	transition: 50ms;
}

#gate {
	position: absolute;
	top: 0px;
	left: 200px;
}

.gate-wall {
	position: absolute;
	left: 0px;
}

.gate-wall#top {
	top: 0px;
}

.gate-base {
	position: absolute;
	left: -15px;
}

.gate-base.top{
	transform: rotate(180deg);
	top: 0px;
}

.gate-laser {
	position: absolute;
	left: -1px;
	top: 12px;
	background-color: red;
	box-shadow: 0px 0px 5px red;
	width: 2px;
	height: 20px;
}

@keyframes speed {
	100% {
		background-position: -500vw 0px, -400vw 0px, -300vw 0px, -200vw 0px;
	}
}