@font-face {
	font-family: lato;
	src: url("fonts/lato");
}

@font-face {
	font-family: lato;
	font-weight: bold;
	src: url("fonts/lato-bold");
}

:root {
	--back-colB: #242235;
	--rep-colB: #4c486f;
	--hov-colB: #151329;
	--back-colR: #7a2c2c;
	--rep-colR: #a65050;
	--hov-colR: #571616;
}

body {
	background: hsl(0,47%,32.5%);
	color: #fefefe;
	font-family: lato;
	padding: 100px 20px 20px 20px;
	height: calc(100vh - 140px);
	overflow: hidden;
	overscroll-behavior-y: none;
  
}


/* Page d'accueil - ajout du pseudo */

#player-pseudo-info {
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

#pseudo-input {
	display: block;
	padding: 5px;
	width: 250px;
	text-align: center;
	margin: auto;
	font-size: 18px;
	background: #7a2c2c;
	border: 2px solid white;
	border-radius: 8px;
	color: #fefefe;
	margin-bottom: 20px;
}

#game-info {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}

#join-button {
	width: 100px;
	background-color: #a65050;
	border: none;
	color: white;
	padding: 8px 32px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 0px auto 30px auto;
	cursor: pointer;
}

#players-list-header {
	text-align: center;
	font-size: 26px;
	margin-bottom: 20px;
}

#players-list {
	max-width: 500px;
	padding: 10px;
	margin: auto;
	background: #a65050;
}

.players-list-player {
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	margin-bottom: 5px;
}


/* Questions */

#question-number {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

#question-info {
	font-size: 26px;
	text-align: center;
	margin-bottom: 30px;
}

#question-countdown {
	font-weight: bold;
}

.answer-button,
.button {
	position: relative;
	max-width: 400px;
	border-radius: 5px;
	background-color: #a65050;
	margin: 0px auto 20px auto;
	cursor: pointer;
	overflow: hidden;
}

.answer-stat-bar {
	position: absolute;
	width: 0%;
	height: 100%;
	background: rgba(255, 255, 255, 0.15);
	transition: 300ms;
}

.answer-button-content {
	position: relative;
	padding: 10px 20px;
	display: flex;
}

.answer-letter {
	font-weight: bold;
	font-size: 24px;
	margin-right: auto;
}

.answer-stat {
	font-size: 24px;
	font-weight: bold;
}


/* Classement */

#top {
	margin: auto;
	text-align: center;
	width: 20%;
	display: grid;
	grid-template: "a b""c d""e f""g h""i j""k l""m n";
}

#titreMJ {
	margin: auto;
	margin-top: 10%;
	margin-bottom: 5%;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}

.classement {
	text-align: right;
}

.num {
	text-align: left;
}

#mp {
	margin-top: 5%;
	text-align: center;
	font-size: 2em;
}


/* Page question */

#moduleQ {
	margin: auto;
	margin-top: 25%;
	text-align: center;
	width: 60%;
}

#question {
	font-size: 2em;
	padding: 4%;
}

#reponses button {
	border: none;
	color: #fff;
}

#reponses {
	display: grid;
	grid-template: "a b""c d";
}

#reponse {
	padding: 15px;
	margin: 10px;
	border-radius: 10px 10px 10px 10px;
	background-color: #a65050;
	transition: background-color .45s;
}

#reponse:hover {
	background-color: #571616;
}

#time {
	margin-bottom: 5px;
}


/* Page play */

#progress {
	width: 250px;
	background-color: #571616;
	margin: auto;
	z-index: 10;
}

#progress2 {
	height: 20px;
	margin: 0px;
	width: 100px;
	background-color: #a65050;
	z-index: 12;
}

.disable {
	background: #0005 !important;
}

button:active {
	background-color: #b42424;
}

.button {
	padding: 0.5em 1em;
	text-decoration: none;
	color: #fff;
	font-size: 2em;
	display: block;
	text-align: center;
	animation: blink infinite 1.5s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(.45,.05,.55,.95);
}

@keyframes blink {
	0% {
		background: #b47575;
	}

	100% {
		background: #a65050;
	}
}

#endContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* jeu space */

/*
Style pour le slider
*/

#slider {
	/* transform: rotate(90deg); */
	width: 80vw;
	padding: 0 5vw;
	height: 50%;
	background: transparent;
}

input[type=range] {
	-webkit-appearance: none;
	width: 100%;
	/*	margin: 22.4px 0;*/
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 1.2px;
	cursor: pointer;
	box-shadow: 2.2px 2.2px 5.3px #7b0000, 0px 0px 2.2px #950000;
	background: rgba(255, 0, 0, 0);
	border-radius: 3.4px;
	border: 0.5px solid #ff0000;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 3px 3px 3.5px #c10000, 0px 0px 3px #db0000;
	border: 1px solid #ff0000;
	height: 46px;
	width: 4px;
	border-radius: 19px;
	background: #ff0000;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -22.9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: rgba(255, 117, 117, 0);
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 1.2px;
	cursor: pointer;
	box-shadow: 2.2px 2.2px 5.3px #7b0000, 0px 0px 2.2px #950000;
	background: rgba(255, 0, 0, 0);
	border-radius: 3.4px;
	border: 0.5px solid #ff0000;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 3px 3px 3.5px #c10000, 0px 0px 3px #db0000;
	border: 1px solid #ff0000;
	height: 46px;
	width: 4px;
	border-radius: 19px;
	background: #ff0000;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 1.2px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: rgba(138, 0, 0, 0);
	border: 0.5px solid #ff0000;
	border-radius: 6.8px;
	box-shadow: 2.2px 2.2px 5.3px #7b0000, 0px 0px 2.2px #950000;
}

input[type=range]::-ms-fill-upper {
	background: rgba(255, 0, 0, 0);
	border: 0.5px solid #ff0000;
	border-radius: 6.8px;
	box-shadow: 2.2px 2.2px 5.3px #7b0000, 0px 0px 2.2px #950000;
}

input[type=range]::-ms-thumb {
	box-shadow: 3px 3px 3.5px #c10000, 0px 0px 3px #db0000;
	border: 1px solid #ff0000;
	height: 46px;
	width: 4px;
	border-radius: 19px;
	background: #ff0000;
	cursor: pointer;
	height: 1.2px;
}

input[type=range]:focus::-ms-fill-lower {
	background: rgba(255, 0, 0, 0);
}

input[type=range]:focus::-ms-fill-upper {
	background: rgba(255, 117, 117, 0);
}

#starship-pres {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}

#starship {
	width: 200px;
	display: block;
	margin: auto;
}

#dead-message {
	font-size: 24px;
	text-align: center;
}