@font-face {
	font-family: lato;
	src: url("/fonts/lato");
}

@font-face {
	font-family: lato;
	font-weight: bold;
	src: url("/fonts/lato/bold");
}

body {
	font-family: lato;
	padding: 20px;
	margin: 0px;
}

#javascript-error {
	font-weight: bold;
	font-size: 20px;
	margin-top: 100px;
	text-align: center;
}